@import "../../styles/styles.scss";

.about {
  .bio {
    margin-top: $lineHeightStatement;
    @include breakpoint(xs) {
      margin-top: $lineHeightStatementMobile;
    }
    p {
      margin-top: 0;
    }
  }
  .featured-quote {
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $fontColorLight;
    p {
      font-family: $primaryFontOblique;
    }
  }
  .image {
    img {
      width: 100%;
    }
  }
}//about
