@import "../../styles/styles.scss";

.about {
  .bio {
    margin-bottom: $lineHeightStatement*2;
    p {
      margin-top: 0;
      // &:nth-child(1) { color: pink; }
      // &:nth-child(2) { color: orange; }
      // &:nth-child(3) { color: olive; }
    }
  }
  img {
    width: 100%;
    background: #f5f5f5;
  }
}//about
