@import "../../styles/styles.scss";

.about {
  .bio {
    margin-top: $lineHeightStatement;
    @include breakpoint(xs) {
      margin-top: $lineHeight;
    }
    p {
      margin-top: 0;
    }
  }
  .image {
    img {
      width: 100%;
    }
  }
  .acknowledgement {
    font-size: $fontSize;
    line-height: $lineHeight;
  }
}//about
