@import "../../styles/styles.scss";

.app-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding: $buffer*4;
  @include breakpoint(xs) {
    padding: $buffer*4;
    &.wrapper-nav-open {
      overflow-y: hidden;
      touch-action: none;
    }
  }
  .wrapper-area {
    max-width: $md;
    // margin: 0 auto;
    .MuiGrid-item {
      position: relative;
    }
  }
}//app-wrapper
