@import "../../styles/styles.scss";

.app-wrapper {
  max-width: $md;
  margin: 0 auto;
  padding: $buffer*8;
  overflow-x: hidden;
  // overflow-y: scroll;
  height: 100vh;
  .wrapper-area {
    .MuiGrid-item {
      position: relative;
    }
  }
}//app-wrapper
