@import '/variables.scss';

@mixin transitionRegular {
  transition: $transitionRegular;
}
@mixin transitionCubic {
  transition: $transitionCubic;
}
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 599px) { @content; }
  }
  @else if $class == sm {
    @media (max-width: 959px) { @content; }
  }
  @else if $class == md {
    @media (max-width: 960px) { @content; }
  }
  @else if $class == lg {
    @media (max-width: 1280px) { @content; }
  }
  @else if $class == xl {
    @media (max-width: 1920px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}



@mixin animation($name, $duration, $timing, $delay, $count, $direction, $fill) {
  animation: $name $duration $timing $delay $count $direction $fill;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeUpOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
  }
}
@keyframes fadeRotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-2deg) translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateY(0px);
  }
}
@keyframes fadeRotateOut {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg) translateY(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(-2deg) translateY(10px);
  }
}