@import '/mixins.scss';
@import '/variables.scss';


@font-face {
  font-family: 'GT Walsheim Medium';
  src: url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium.eot);
  src: url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff2) format('woff2'),
       url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Walsheim Medium Oblique';
  src: url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium-Oblique.eot);
  src: url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium-Oblique.woff2) format('woff2'),
       url(../assets/fonts/gt-walsheim/GT-Walsheim-Medium-Oblique.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}//*
body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
  font-size: $fontSizeStatement;
  line-height: $lineHeightStatement;
  font-weight: 500;
  color: $fontColor;
  background: #ffffff;
  ::selection {
    color: pink;
  }
  a {
    text-decoration: none;
    @include transitionCubicUrgent;
    &:link {color: inherit;}
    &:visited {color: inherit;}
    &:hover {
      color: pink;
      cursor: pointer;
      @include transitionCubicUrgent;
    }
    &:active {color: inherit;}
  }
}//body

.my-node-appear {
    opacity: 0;
    @include animation(fadeUpIn, $timing, $easingCubic, $delay4, 1, normal, forwards)
}
.my-node-enter {
    opacity: 0;
}
.my-node-enter-active {
    @include animation(fadeUpIn, $timing, $easingCubic, .5s, 1, normal, forwards)
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    @include animation(fadeUpOut, $timing, $easingCubic, 0s, 1, normal, forwards)
}
