$buffer:                            4px;

$primaryFont:                        "GT Walsheim Medium", sans-serif;
$primaryFontOblique:                 "GT Walsheim Medium Oblique", sans-serif;

$fontSize:                           14px;
$fontSizeStatement:                  $fontSize*1.5;
$fontSizeHero:                       $fontSize*5;

$fontSizeStatementMobile:            $fontSize*1.25;
$fontSizeHeroMobile:                 $fontSize*3.5;

$lineHeight:                         16px;
$lineHeightStatement:                $lineHeight*1.5;
$lineHeightHero:                     $lineHeight*4;

$lineHeightStatementMobile:          $lineHeight*1.4;
$lineHeightHeroMobile:               $lineHeight*3;

$fontColor:                          #33333a;
$fontColorLight:                     #ddddda;
$lightGray:                          #f1f1f1;

$timing:                             .5s;
$timingUrgent:                       .25s;
$easingCubic:                        cubic-bezier(0.77, 0, 0.175, 1);
$easingRegular:                      ease-in-out;
$transitionCubic:                    all $timing $easingCubic;
$transitionRegular:                  all $timing $easingRegular;
$transitionCubicUrgent:              all $timingUrgent $easingCubic;

$delay1:                             .15s;
$delay2:                             $delay1+$delay1;
$delay3:                             $delay1+$delay2;
$delay4:                             $delay1+$delay3;
$delay5:                             $delay1+$delay4;
$delay6:                             $delay1+$delay5;
$delay7:                             $delay1+$delay6;
$delay8:                             $delay1+$delay7;

$xs:                                 600px;
$sm:                                 960px;
$md:                                 1280px;
$lg:                                 1920px;
