@import "../../styles/styles.scss";

.about {
  .copy {
    p {
      margin-top: 0;
    }
    .bio {
      padding-right: $buffer*4;
      @include breakpoint(xs) {
        padding-right: 0;
      }
    }
    .acknowledgement {
      font-size: $fontSize;
      line-height: $lineHeight;
    }
    .spacer {
      display: none;
      @include breakpoint(xs) {
        display: flex;
      }
    }
  }
  .image {
    // margin-top: $lineHeightStatement;
    @include breakpoint(xs) {
      margin-top: $lineHeight;
    }
    img {
      width: 100%;
    }
  }
}//about
