@import "../../styles/styles.scss";

.page-container {
  position: absolute;
  min-height: calc(100vh - #{$buffer*8});
  .content-container {
    margin-bottom: $lineHeightStatement*8;
  }
  @include breakpoint(xs) {
    padding-bottom: $lineHeightStatement*8;
    font-size: $fontSizeStatementMobile;
    line-height: $lineHeightStatementMobile;
  }
}//page-container
