@import "../../styles/styles.scss";

.footer-container {
    position: absolute;
    bottom: $buffer*4;
    @include breakpoint(xs) {
        display: none;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: $lineHeightStatement;
        li {
        }
    }
}