@import "../../styles/styles.scss";

.homepage {
    .section {
        margin-bottom: $lineHeightStatement*4;
        &.hero {
            font-size: $fontSizeHero;
            line-height: $lineHeightHero;
            font-weight: 600;
        }
        // &.news {
        //     font-size: $fontSize;
        //     line-height: $lineHeight;
        //     text-transform: uppercase;
        // }
    }
}//homepage
