@import "../../styles/styles.scss";

.homepage {
    .section {
        &.hero {
            // border-bottom: 2px solid $lightGray;
            .hero-statement {
                padding-bottom: $lineHeightHero*4;
                font-size: $fontSizeHero;
                line-height: $lineHeightHero;
                span {
                    color: pink;
                }
                @include breakpoint(xs) {
                    font-size: $fontSizeHeroMobile;
                    line-height: $lineHeightHeroMobile;
                }
            }
            .hero-cta {
                padding-bottom: $lineHeight;
                color: pink;
            }
        }
    }
}//homepage
