@import "../../styles/styles.scss";

.nav-container {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: $lineHeightStatement;
        li {
            .nav-link {
                color: $fontColorLight;
                @include transitionCubic;
                &.active {
                    color: $fontColor;
                }
                &:hover {
                    cursor: pointer;
                    color: $fontColor;
                    @include transitionCubic;
                }
            }
        }
        &:nth-child(1) {
            opacity: 0;
            @include animation(fadeIn, $timing, $easingCubic, 0s, 1, normal, forwards)
        }
        &:nth-child(2) {
            opacity: 0;
            @include animation(fadeIn, $timing, $easingCubic, $delay1, 1, normal, forwards)
        }
        &:nth-child(3) {
            opacity: 0;
            @include animation(fadeIn, $timing, $easingCubic, $delay2, 1, normal, forwards)
        }
    }
}