@import "../../styles/styles.scss";

.nav-container {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        padding-bottom: $lineHeightStatement;
        li {
            .nav-link {
                color: $fontColorLight;
                @include transitionCubic;
                &.active {
                    color: $fontColor;
                }
                &:hover {
                    cursor: pointer;
                    color: $fontColor;
                    @include transitionCubic;
                }
            }
        }
    }
}