@import "../../styles/styles.scss";

.nav-container {
    .nav-items {
        @include breakpoint(xs) {
            font-size: $fontSizeStatementMobile;
            line-height: $lineHeightStatementMobile;
            ul {
                padding-bottom: $lineHeightStatementMobile !important;
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            padding-bottom: $lineHeightStatement;
            li {
                .nav-link {
                    color: $fontColorLight;
                    @include transitionCubic;
                    &.home-link {
                        @include breakpoint(xs) {
                            color: $fontColor;
                        }
                    }
                    &.active {
                        color: $fontColor;
                    }
                    &:hover {
                        cursor: pointer;
                        color: $fontColor;
                        @include transitionCubic;
                    }
                }
            }
            &:nth-child(1) {
                opacity: 0;
                @include animation(fadeRotateIn, $timing, $easingCubic, 0s, 1, normal, forwards)
            }
            &:nth-child(2) {
                opacity: 0;
                @include animation(fadeRotateIn, $timing, $easingCubic, $delay1, 1, normal, forwards)
            }
            &:nth-child(3) {
                opacity: 0;
                @include animation(fadeRotateIn, $timing, $easingCubic, $delay2, 1, normal, forwards)
            }
        }
        .nav-page-links {
            @include breakpoint(xs) {
                // width: calc(100vw - (#{$buffer}*16));
                font-size: $fontSizeHeroMobile;
                line-height: $lineHeightHeroMobile;
                width: 100vw;
                height: calc(100vh - (#{$lineHeightStatementMobile}*2));
                background: white;
                position: fixed;
                padding: $buffer*4;
                top: $lineHeightStatementMobile*1.9; //1.9 to slightly cut off content in the bottom container which shows
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                @include transitionCubic;
                transition-delay: $delay1;
                &.mobile-nav-open {
                    visibility: visible;
                    opacity: 1;
                    @include transitionCubic;
                }
            }
        }
    }
    .mobile-nav-toggler {
        display: none;
        @include breakpoint(xs) {
            opacity: 0;
            @include animation(fadeRotateIn, $timing, $easingCubic, $delay2, 1, normal, forwards)
            display: flex;
            div {
                margin-top: -$buffer;
                margin-right: -$buffer;
            }
        }
    }
}