@import "../../styles/styles.scss";

.writing-item {
  margin-bottom: $lineHeightStatement;
  &:hover {
    .favorite {
      color: lavender;
      margin-left: $buffer*8;
      @include transitionCubic;
    }
  }
  .title {
    font-size: $fontSizeHero;
    line-height: $lineHeightHero;
  }
  .year {
    margin-right: $buffer*4;
  }
  .publication {
    font-family: $primaryFontOblique;
  }
  .favorite {
    @include transitionCubic;
    color: $sunshine;
    margin-left: $buffer*8;
    @include breakpoint(xs) {
      margin: 0;
    }
  }
  .excerpt {
    font-size: $fontSize;
    line-height: $lineHeight;
    border-left: 2px solid $fontColorLight;
    padding-left: $buffer*3;
    color: $fontColorLight;
  }
  .statement {
    font-size: $fontSize;
    line-height: $lineHeight;
    margin-top: $buffer*4;
  }
}
