@import "../../styles/styles.scss";

.writing-item {
  margin-bottom: $lineHeightStatement;
  &:hover {
    .favorite {
      color: lavender;
      margin-left: $buffer*8;
      @include transitionCubic;
    }
  }
  .title {
    font-size: $fontSizeHero;
    line-height: $lineHeightHero;
  }
  .year {
    margin-right: $buffer*4;
    // font-family: $primaryFontOblique;
  }
  .publication {
    // font-family: $primaryFontOblique;
  }
  .favorite {
    @include transitionCubic;
    color: pink;
    margin-left: $buffer*8;
  }
}