@import "../../styles/styles.scss";

.podcasts {
  .pod-thumb {
    margin-bottom: $lineHeightStatement;
    img {
      width: 100%;
    }
  }
  .pod-description {
    margin: $lineHeightStatement 0;
  }
  .episodes {
    border-left: 2px solid $fontColorLight;
    padding-left: $buffer*4;
    margin-bottom: $lineHeightStatement;
    .episode-title {
      &:hover {
        .available {
          margin-left: $buffer*8;
          @include transitionCubicUrgent;
          @include breakpoint(xs) {
            margin-left: 0;
          }
        }
      }
      .available {
        @include transitionCubicUrgent;
        color: $sunshine;
        margin-left: $buffer*4;
        @include breakpoint(xs) {
          margin-left: 0;
        }
      }
    }
  }
}
